@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #efede8;
  color: #6f442e;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #6f442e;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

button {
  background-color: #6f442e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.9;
}

header {
  background-color: #cfc6b8;
}

footer {
  background-color: #d6cfc4;
}
